.container {
  width: 60%;
  margin: 0 auto;
}

.block {
  display: block;
}

.display-inline {
  display: inline-block;
}

.flex-list {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.inline-list-items li {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.small-image {
  width: 80px;
  height: 80px;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.empty-horizontal-space {
  margin: 0 auto;
}

.pokemon-square {
  width: 128px;
  height: 128px;
  text-align: center;
  margin: 5px;
  background-color: #F0F0F0;
}

ul {
  padding: 0;
}

#versus {
  width: 80px;
  height: 80px;
  padding: auto;
}

#versus-container {
  display: flex;
  align-items: center;
}

.pending {
  background: radial-gradient(#FFFC00, #FFFFFF00);
}

.accepted {
  background-color: greenyellow;
}

.refused {
  background-color: red
}